.Webform {
    width: 75%;
    margin: 24px auto;
    border: 1 solid #eee;
}

.input {
    border: 1px;
    background-color: pink;
}

.red{
    color: red;
    font-size: 11;
}

.btn {
    padding: 10px;
    margin: auto;
    width: 50%;
    text-align: center;
    cursor: pointer;
}